In [1]:
import sys
import os
sys.path.append(os.path.abspath("../src"))
from cores.analyzer import Analyzer

In [2]:
analyzer = Analyzer('/home/ymd/program/python/analyzer/data/test')

In [3]:
analyzer.group_names()

['wav']

In [8]:
analyzer.get_group('wav').get_unit('和太鼓でドン_waveform').df

        sample_index  left  right
0                  0   -45    -32
1                  1    50   -108
2                  2   -45   -122
3                  3   -21     93
4                  4  -202   -110
...              ...   ...    ...
147705        147705   -70    -71
147706        147706   -48    -49
147707        147707   -25    -25
147708        147708    -5     -5
147709        147709     1      1

[147710 rows x 3 columns]